

<div class="sidebar">

  <div>
  <div class="div"><h3>TASK<span style="color:black" >IT</span></h3></div>
  <a href="#taskList">Task List</a>

  <a href="#KanBan">KanBan</a>

  <a href="Bored">Bored</a> </div>

  <div class="profile">
    <img class="userImage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/640px-SNice.svg.png">
    <div class="profbox">

      <div class="name">{{ userName }}</div>
      <div class="email">{{ userEmail }}</div>


    </div>
  </div>
</div>




