h3 {

  color: #48c15b;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 25px;

  padding: 0;
  margin: 1;
  width: 142px;
  height: 34px;
  align-items: center;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-top: 50px;

}
a{display: flex;
  width: 200px;
  height: 48px;
  padding: 15px 0 px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: #f8f8f8;
  margin: 10px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(238, 19, 19);
  width: 244px;
  border-right: 1px solid #d2d2d2;
  background: #fff;
  z-index: 1;
  top: 0;
  left: 0;
  justify-content: space-between;
  position: fixed;

  .profile {
    display: flex;
    max-width: 244px;
    padding: 11px 16px;
    align-items: flex-end;
    gap: 10px;
    border-top: 5px ;
   /* Added in border, showing up higher */
  }


}
.userImage {
  height: 38px;
  width: 38px;
  border-radius: 50%;

}

