<!-- Not sure how to call modal -->

<div class="modal-box" id="addModal">
  <p class="headline">Add a New Task</p>
  <input class="title-box">
  <input type="text" class="description">
  <input type="date" class="date-box">

  <select name="priority" id="priority" class="priority-box">
    <option value="Low">Low</option>
    <option value="Medium">Medium</option>
    <option value="High">High</option>
  </select>

  <select name="Status" id="status" class="status-box">
    <option value="Complete">Complete</option>
    <option value="inProgress">In Progress</option>
    <option value="Doing">Incomplete</option>
  </select>

  </div>
