<div
  class="tasklist-container d-flex justify-content-center align-items-start flex-column bd-highlight mb-3"
  style="margin-left: 296px"
>
  <div style="margin-top: 72px">
    <h1>Task List</h1>
  </div>
  <div>

    <div class="top-line d-flex flex-nowrap filters">
      <div class="order-1 p-2"><b>Filters:</b></div>
      <select class="order-2 p-2 status-dropdown">Status
      <option value="" selected disabled hidden>Status</option>
      <option value="Complete">Complete</option>
      <option value="inProgress">In Progress</option>
      <option value="Incomplete">Incomplete</option></select>

      <select class=" date order-3 p-2 date-dropdown" name="date" >
        <option value="" selected disabled hidden>Date</option>
        </select>

      <select class="order-4 p-2 priority-dropdown">
        <option value="" selected disabled hidden>Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        </select>
        <button class="order-5 p-2 new-task" (click)="onButtonClick" data-bs-target="addModal">Add New Task</button>

    </div>
    <div>
      <div class="tasklist-headings d-flex flex-nowrap">
        <div class="order-1 p-2">Title</div>
        <div class="order-2 p-2">Due Date</div>
        <div class="order-3 p-2">Priority</div>
        <div class="order-4 p-2">Status</div>
        <div class="order-5 p-2">Actions</div>
      </div>
        </div>
  </div>
</div>
