<div
  class="tasklist-container d-flex justify-content-center align-items-start flex-column bd-highlight mb-3"
  style="margin-left: 296px"
>
  <div style="margin-top: 72px">
    <h1>Task List</h1>
  </div>
  <div>

    <div class="d-flex flex-nowrap">
      <div class="order-1 p-2">Filters:</div>
      <div class="order-2 p-2">Status</div>
      <!-- Date now moved in front of filters, property not working with flexbox? -->
      <select id=" date order-3 p-2 date" name="date" >
        <option value="" selected disabled hidden>Date</option>
        </select>
      <!-- <div class="order-3 p-2">Date</div> -->
      <!-- <div class="order-4 p-2">Priority</div> -->
      <select class="order-4 p-2 priorityFilter">
        <option value="" selected disabled hidden>Priority</option>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
        </select>
      <div class="order-5 p-2">Add New Task</div>
      <!-- Needs a button on the right  -->

    </div>
    <div>
      <div class="tasklist-headings, d-flex flex-nowrap">
        <div class="order-1 p-2">Title</div>
        <div class="order-2 p-2">Due Date</div>
        <div class="order-3 p-2">Priority</div>
        <div class="order-4 p-2">Status</div>
        <div class="order-5 p-2">Actions</div>
      </div>
        </div>
  </div>
</div>
