<div class="tasklist-container d-flex justify-content-center" style="margin-left: 296px">
  <div style="margin-top: 72px">
    <h1>Task List</h1>
  </div>
<p>Filters:</p>
  <div class="filters d-flex flex-row mb-3">
  <div class="p-2">Status</div>
  <div class="p-2">Date</div>
  <div class="p-2">Priority</div>
<div class="taskBody d-flex flex-row mb-3">
  <div class="p-2">Title</div>
  <div class="p-2">Due Date</div>
  <div class="p-2">Priority</div>
  <div class="p-2">Status</div>
  <div class="p-2">Actions</div>

</div>

</div>


</div>
